body {
  background: linear-gradient(
    rgb(150, 167, 189) 5%,
    rgb(252, 201, 201) 21%,
    rgb(196, 137, 137) 97%
  );
  width: 75%;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  color: gray;
}
.container {
  max-width: 55%;
  min-width: 350px;
  margin: 50px auto 10px auto;
  background: #e7d7f5;
  border-radius: 20px;
  border: solid;
  border-color: #e7d7f5;
  box-shadow: 8px 8px 10px rgba(201, 186, 226, 0.644);
}
.btn {
  background-color: #cdbadd;
  border-color: #cdbadd;
}
.btn:hover {
  background-color: #cdbadd;
  border-color: #cdbadd;
  opacity: 0.5;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-2 {
  width: 25%;
}
h1 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
}

.location {
  font-family: "Readex Pro", sans-serif;
  max-width: 300px;
}
.date {
  font-size: 2em;
}
.weather-data {
  font-family: "Readex Pro", sans-serif;
  font-size: 1.5em;
}

ul {
  list-style: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}
today-weather {
  padding: 400 250;
  margin-left: 200px;
  width: 500px;
  height: 350px;
}
.rain {
  padding: 2px;
}
.d-block w-100 {
  width: 200px;
  margin: 20px;
}
.repos-link {
  padding-top: 5px;
  padding-bottom: none;
}
a {
  text-decoration: none;
}
.convert .active {
  color: gray;
  cursor: default;
}
.convert .active:hover {
  text-decoration: none;
}
.minTemperature {
  opacity: 0.6;
  font-size: 16px;
}
.maxTemperature {
  font-weight: bold;
  font-size: 16px;
}
